{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section class="content-home animated fadeIn" role="main">
  <div class="wrapper">
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="animated {{post_class}}{{#if @even}} fadeInLeftBig even {{else}} fadeInRightBig odd{{/if}}">
      <div class="inner">
        <span class="time">
          <time datetime="{{date format='DD MM YYYY'}}">
            <span class="month">{{date format="MMM"}}</span>
            <span class="day">{{date format="DD"}}</span>
          </time>
        </span>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <a href="{{url}}"><img src={{image}} alt="{{{title}}}"/></a>
      </div>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}

   </div>

</section>

{{pagination}}
