<!-- Start Last Events ===================================================== -->
{{#get "posts" limit="3" include="tags" filter="tags:event+page:false"  as |events| }}
  {{#if events}}
    <div class="row-header">
      <h2>Последни събития</h2>
    </div>

    <div class="row-content-last-events">

      {{#foreach events}}
        <div class="post-preview">

          <!-- Thumbnail-->
          <a href="{{url}}">
            <img class="thumb" src="{{image absolute="true"}}"/>
          </a>

          <h4 class="title"><a href="{{url}}">{{title}}</a></h4>

          <!-- Date -->
          <div class="date">
            <span class="month">{{date format="MMM"}}</span>
            <span class="day">{{date format="DD"}}</span>
            <span class="time">{{date format="HH:MM"}}</span>
          </div>

          <!-- Post Content-->
          <div class="post-content">
            {{content words=15}}
          </div>

          <a class="read-more" href="{{url}}">
            Още
          </a>
        </div>
      {{/foreach}}

      <a class="homepage-link last-events" href="/tag/event/">Виж всички събития</a>
    </div>
  {{/if}}
{{/get}}
<!-- End Last Events ======================================================= -->
