<div class="social-sharing" data-permalink="{{url absolute="true"}}">
  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" class="share-facebook">
    <svg width="16" height="16">
      <use xlink:href="/assets/img/assets.svg#icon-facebook"></use>
    </svg>
    <span class="share-title">Share</span>
    <span class="share-count">0</span>
  </a>

  <a target="_blank" href="http://twitter.com/share?url={{url absolute="true"}}&amp;text={{excerpt characters="140"}}&amp;" class="share-twitter">
    <svg width="16" height="16">
      <use xlink:href="/assets/img/assets.svg#icon-twitter"></use>
    </svg>
    <span class="share-title">Tweet</span>
    <span class="share-count">0</span>
  </a>

  <a target="_blank" href="http://plus.google.com/share?url={{url absolute="true"}}" class="share-google">
    <svg width="16" height="16">
      <use xlink:href="/assets/img/assets.svg#icon-gplus"></use>
    </svg>
    <span class="share-count">+1</span>
  </a>
</div>